/* ================= RESET ================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, serif;
}

body {
  background: #f8f6ef;
  color: #2c2c2c;
}

/* =====xxx===== */
.mobile-menu {
  position: fixed;
  top: 0;
  left: -100%;
  width: 75%;
  height: 100vh;
  background: white;
  padding: 30px;
  transition: 0.3s ease;
  z-index: 1000;
  box-shadow: 2px 0 10px rgba(0,0,0,0.1);
}

.mobile-menu.active {
  left: 0;
}

.mobile-menu-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.close-menu {
  font-size: 28px;
  cursor: pointer;
}

.mobile-links {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.mobile-links a {
  text-decoration: none;
  font-size: 18px;
  color: black;
}

/* ==============Navba================== */
.navbar {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  position:fixed ;
  top: 0;
  width: 100%;
  padding: 15px 40px;
  z-index: 2000;
  background-color: #e9e9e9;
}
.navbar a{
  text-decoration: none;
  font-size: 20px;
  color: black;
   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.nav-left {
  justify-self: start;
  display: flex;
  gap: 25px;
}

.nav-logo {
  justify-self: center;
}

.nav-right {
  justify-self: end;
  display: flex;
  gap: 25px;
  align-items: center;
}
.navbar a.active {
  background-color: rgb(138, 141, 174);
  color:black;
  padding: 5px 10px;
  border-radius: 5px;
}

.hamburger {
  display: none;
  font-size: 28px;
  cursor: pointer;
}

/* ================= HERO ================= */
.hero {
  margin-top: 0px;
  height: 85vh;
  position: relative;
  overflow: hidden;
  margin-top: 80px;
}

.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-title {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  padding-left: 40px;
  font-size: 36px;
  color: white;
}

/* ================= INTRO ================= */
.intro {
  max-width: 900px;
  margin: 120px auto;
  padding: 0 40px;
}

.intro h1 {
  font-size: 48px;
  margin-bottom: 30px;
}

.intro p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 16px;
}

/* ================= FOUNDER ================= */
.founder {
  max-width: 1100px;
  margin: 0 auto 140px;
  padding: 0 40px;
}
.founder-para{
  background-color: #f1eee3;
  height: 500px;
  display: flex;
  flex-direction: column;
}
.founder-images {
  display: flex;
  gap: 40px;
  margin-left: 20px;
  margin-bottom: 50px;
}

.founder-images img {
  width:450px;
  height: 500px;
  border-radius: 14px;
}

.founder-text {
  font-size: 17px;
  line-height: 1.8;
}

/* ================= GUIDED ================= */
.guided {
  text-align: center;
  margin: 120px auto;
  padding: 0 30px;
  margin-top: 300px;
}

.guided h2 {
  font-size: 36px;
  margin-bottom: 60px;
}

.circles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

/* COMMON CIRCLE */
.circle {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fff;
}

/* INDIVIDUAL COLORS */
.quality {
  background: #8fa7dd;
}

.knowledge {
  background: #2f7d32;   /* learn green touch */
}

.health {
  background: #5e704d;
}

.intention {
  background: #e04bb4;
}

.community {
  background: #8b7a00;
}

.integrity {
  background: #ff3b00;
}

/* ================= REMEMBER ================= */
.remember {
  background: #f1eee3;
  padding: 100px 40px;
}

.remember-container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  gap: 60px;
}

.remember-text {
  flex: 1;
}

.remember-text h2 {
  font-size: 36px;
  margin-bottom: 16px;
}

.remember-text p {
  font-size: 18px;
  margin-bottom: 20px;
}

.remember-text button {
  padding: 12px 24px;
  background: transparent;
  border: 1px solid #000;
  cursor: pointer;
}

.remember-images {
  flex: 1;
  display: flex;
  gap: 20px;
}

.remember-images img {
  width: 33%;
  border-radius: 14px;
  object-fit: cover;
}

/* ================= SUBSCRIBE ================= */
.subscribe {
  max-width: 1000px;
  margin: 100px auto;
  padding: 0 40px;
}

.subscribe h3 {
  font-size: 28px;
  margin-bottom: 10px;
}

.subscribe p {
  margin-bottom: 20px;
}

.subscribe input {
  padding: 12px;
  width: 250px;
}

.subscribe button {
  padding: 12px 20px;
  margin-left: 10px;
}
/* ========Footer==== */
.footer {
  background: #e9e9e9;
  padding: 60px 8%;
  font-family: Arial, sans-serif;
  color: #000;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
}

.footer-col {
  flex: 1;
  min-width: 220px;
}

.footer-col h3 {
  font-size: 22px;
  margin-bottom: 15px;
}

.footer-col h4 {
  margin-bottom: 15px;
  font-size: 18px;
}

.footer-col p {
  margin-bottom: 20px;
  line-height: 1.6;
}

.footer-col ul {
  list-style: none;
  padding: 0;
}

.footer-col ul li {
  margin-bottom: 10px;
}

.footer-col ul li a {
  text-decoration: none;
  color: #000;
}

.footer-col ul li a:hover {
  text-decoration: underline;
}

/* Subscribe */
.subscribe-box {
  display: flex;
  max-width: 400px;
}

.subscribe-box input {
  flex: 1;
  padding: 12px;
  border: none;
  outline: none;
  border-radius: 25px 0 0 25px;
}

.subscribe-box button {
  padding: 12px 25px;
  border: none;
  background: #7b8ec4;
  color: #000;
  border-radius: 0 25px 25px 0;
  cursor: pointer;
}

.subscribe-box button:hover {
  background: #5f72a8;
  color: #fff;
}

/* Social */
.social-icons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.social-icons span {
  width: 35px;
  height: 35px;
  background: #000;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 12px;
}

/* Bottom */
.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  border-top: 1px solid #ccc;
  padding-top: 20px;
  flex-wrap: wrap;
  gap: 10px;
}

.bottom-links a {
  margin-left: 20px;
  text-decoration: none;
  color: #000;
}

/* Disclaimer */
.disclaimer {
  background: #7b8ec4;
  color: #000;
  text-align: center;
  padding: 12px;
  margin-top: 30px;
  font-size: 14px;
}
   /* ==========================media============= */

   /* ================= MOBILE ================= */
@media (max-width: 480px) {
*{
  box-sizing: border-box;
  margin: 0px;
}

  /* HERO */
  .hero {
    height: 50vh;
  }

  .hero-title {
    font-size: 22px;
  }

  /* INTRO */
  .intro h1 {
    font-size: 28px;
  }

  .intro p {
    font-size: 16px;
  }

  /* ================= FOUNDER ================= */
.founder {
  width: 100%
  /* margin: 0 auto 140px; */
  /* padding: 20px; */
  /* margin-left: 15px; */
}
.founder-para{
  background-color: white;
  height: 700px;
  width: 500px;
  display: flex;
  flex-direction: column;
}
.founder-para p{
  font-size: 1rem;
}
.founder-images {
  display: flex;
  gap: 5px;
   margin-left: 20px;
   margin-top: 20px;
  /* margin-bottom: 50px; */ 
}

.founder-images img {
  width:220px;
  height: 280px;
  border-radius: 14px;
}


  

  /* GUIDED */
  .guided h2 {
    margin-top: -200px;
    font-size: 26px;
  }

  .circle {
    width: 90px;
    height: 90px;
    font-size: 10px;
  }

  /* REMEMBER */
  
  .remember-container {
    flex-direction: column;
  }

  /* Put images first */
  .remember-images {
    order: -1;   /* Moves images above text */
    display: flex;
    overflow-x: auto;
    gap: 15px;
    padding-bottom: 15px;
    scroll-snap-type: x mandatory;
  }

  /* Hide scrollbar (optional clean look) */
  .remember-images::-webkit-scrollbar {
    display: none;
  }

  .remember-images img {
    min-width: 80%;
    height: 250px;
    object-fit: cover;
    border-radius: 12px;
    flex-shrink: 0;
    scroll-snap-align: center;
  }

  .remember-text {
    margin-top: 20px;
    text-align: center;
  }

}
  
  @media (max-width: 768px)
{
  .navbar{
    display:flex;
    align-items:center;
    position: fixed;
    width: 100%;
    /* height: 30px; */
  }
  .hamburger{
    display: block;
    order: 1;         /* Put first (left) */
  }

  /* Move logo to right */
  .nav-logo{
    order: 2;
    margin-left: auto;   /* Push it to right */
  }

  .nav-logo img{
    height: 40px;
  }

  .desktop-nav,
  .right{
    display:none;
  }
 
  .nav-left,
.nav-right{
  display: none;
  flex-direction: column;
  width: 100%;
  /* background: #ecd7d7; */
  padding: 20px 0;
}

.nav-left.active,
.nav-right.active{
  display: flex;
}

  .nav-logo{
    margin-left:auto;
  }
  .mobile-menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 75%;
    height: 100vh;
    background: white;
    display: flex;
    flex-direction: column;
    padding: 30px;
    transition: 0.3s ease;
    z-index: 1000;
  }
   .mobile-menu.active {
    left: 0;
  }

  .mobile-menu a {
    padding: 15px 0;
    font-size: 1.5rem;
    text-decoration: none;
    color: black;
  }
  #closeBtn {
    font-size: 24px;
    margin-bottom: 20px;
    cursor: pointer;
  }
}

@media(max-width:480px){
  .founder {
  width: 100%
  /* margin: 0 auto 140px; */
  /* padding: 20px; */
  /* margin-left: 15px; */
}
.founder-para{
  background-color: white;
  height: 700px;
  width: 500px;
  display: flex;
  flex-direction: column;
}
.founder-para p{
  font-size: 1rem;
}
.founder-images {
  display: flex;
  gap: 5px;
   margin-left: 20px;
   margin-top: 20px;
  /* margin-bottom: 50px; */ 
}

.founder-images img {
  width:220px;
  height: 220px;
  border-radius: 14px;
}


  

  /* GUIDED */
  .guided h2 {
    margin-top: -200px;
    font-size: 26px;
  }

  .circle {
    width: 90px;
    height: 90px;
    font-size: 10px;
  }

  /* REMEMBER */
  
  .remember-container {
    flex-direction: column;
  }

  /* Put images first */
  .remember-images {
    order: -1;   /* Moves images above text */
    display: flex;
    overflow-x: auto;
    gap: 15px;
    padding-bottom: 15px;
    scroll-snap-type: x mandatory;
  }

  /* Hide scrollbar (optional clean look) */
  .remember-images::-webkit-scrollbar {
    display: none;
  }

  .remember-images img {
    min-width: 80%;
    height: 250px;
    object-fit: cover;
    border-radius: 12px;
    flex-shrink: 0;
    scroll-snap-align: center;
  }

  .remember-text {
    margin-top: 20px;
    text-align: center;
  }
 

}
@media (max-width:480px){

  /* Prevent horizontal scroll */
  body{
    overflow-x: hidden;
  }

  /* Subscribe Section */
  .subscribe-box {
    width: 100%;
    display: flex;
  }

  .subscribe-box input{
    flex: 1;          /* auto adjust */
    min-width: 0;     /* prevent overflow */
  }

  .subscribe-box button{
    flex-shrink: 0;
  }

  /* Footer Grid */
  .footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 0 15px;   /* add side spacing */
  }

  /* Prevent text cut */
  .footer-col {
    min-width: 0;
    word-wrap: break-word;
  }

  /* First column full width */
  .footer-col:first-child {
    grid-column: 1 / -1;
  }

  /* Account */
  .footer-col:nth-child(2) {
    grid-column: 1 / 2;
  }

  /* Resources */
  .footer-col:nth-child(3) {
    grid-column: 2 / 3;
  }

  /* Info */
  .footer-col:nth-child(4) {
    grid-column: 1 / 2;
  }

  /* Follow */
  .footer-col:nth-child(5) {
    grid-column: 2 / 3;
  }

  /* Bottom Section */
  .footer-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 8px;
  }

}