*{
    margin: 0;
    padding: 10;
    box-sizing: border-box;
}
.navbar{
    /* position: fixed; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid black;
    background-color: #ecd7d7;
    height: 50px;
    width: 100%;
    padding: 10px;
}
.navbar a{
    text-decoration: none;
    color: black;
    font-size: larger;
    font-weight: 400;
    
}
.right a{
    margin-left: 10px;
}
.left a{
    margin-right: 10px;
}
.heading{
    /* color: red; */
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 90px;
    font-weight: 700;
    margin-top: 20px;
    
}
.learn{
   text-decoration: none;
   color: black;
}
.pod{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}
.cards{
    padding: 20px;
}
.card-com{
    display: flex;
  flex-direction: row;
  gap: 20px;        
  

}
.card {
  width: 500px;
  height: 450px;
  background: #ffffff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  /* transition: transform 0.3s ease, box-shadow 0.3s ease; */
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);
}

.card-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.card-content {
  padding: 16px;
}

.card-title {
  margin: 0 0 8px;
  font-size: 1.25rem;
}

.card-text {
  font-size: 0.95rem;
  color: #555;
  margin-bottom: 16px;
}

.card-button {
  display: inline-block;
  padding: 10px 16px;

  color:black;
  text-decoration: none;
  border-radius: 6px;
  font-size: 0.9rem;
}
.wallpaper{
   width: 500px;
  height: 450px;
  background: #ffffff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}
.wall-image{
  
  width: 100%;
  height: 450px;
  object-fit: cover;

}